# React Native / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
android/
ios/
build/

# VSCode
.vscode/

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS junk
.DS_Store
Thumbs.db
